@font-face {
  font-family: 'bh';
  src: url('https://www.bollywoodhungama.com/wp-content/themes/bh-theme/fontello/font/bh.eot?65024868');
  src: url('https://www.bollywoodhungama.com/wp-content/themes/bh-theme/fontello/font/bh.eot?65024868#iefix') format('embedded-opentype'),
       url('https://www.bollywoodhungama.com/wp-content/themes/bh-theme/fontello/font/bh.woff2?65024868') format('woff2'),
       url('https://www.bollywoodhungama.com/wp-content/themes/bh-theme/fontello/font/bh.woff?65024868') format('woff'),
       url('https://www.bollywoodhungama.com/wp-content/themes/bh-theme/fontello/font/bh.ttf?65024868') format('truetype'),
       url('https://www.bollywoodhungama.com/wp-content/themes/bh-theme/fontello/font/bh.svg?65024868#bh') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bh';
    src: url('../font/bh.svg?65024868#bh') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bh";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-rss:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-play-2:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-cancel-circled:before { content: '\e80c'; } /* '' */
.icon-rupee:before { content: '\e80d'; } /* '' */
.icon-move:before { content: '\e80e'; } /* '' */
.icon-bh-android:before { content: '\e80f'; } /* '' */
.icon-bh-blackberry:before { content: '\e810'; } /* '' */
.icon-bh-ios:before { content: '\e811'; } /* '' */
.icon-plus-1:before { content: '\e812'; } /* '' */
.icon-down-open-1:before { content: '\e813'; } /* '' */
.icon-up-open-1:before { content: '\e814'; } /* '' */
.icon-pinterest:before { content: '\e815'; } /* '' */
.icon-gplus:before { content: '\e816'; } /* '' */
.icon-youtube:before { content: '\e817'; } /* '' */
.icon-wechat:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-bh-down-arrow:before { content: '\e81a'; } /* '' */
.icon-bh-question-mark:before { content: '\e81b'; } /* '' */
.icon-bh-shield:before { content: '\e81c'; } /* '' */
.icon-bh-up-arrow:before { content: '\e81d'; } /* '' */
.icon-bh-calendar:before { content: '\e81e'; } /* '' */
.icon-stop:before { content: '\e81f'; } /* '' */
.icon-pause:before { content: '\e820'; } /* '' */
.icon-volume-off:before { content: '\e821'; } /* '' */
.icon-volume-down:before { content: '\e822'; } /* '' */
.icon-volume:before { content: '\e823'; } /* '' */
.icon-volume-up-1:before { content: '\e824'; } /* '' */
.icon-bh-lock:before { content: '\e825'; } /* '' */
.icon-bh-logout:before { content: '\e826'; } /* '' */
.icon-bh-setting:before { content: '\e827'; } /* '' */
.icon-videocam:before { content: '\e828'; } /* '' */
.icon-mic:before { content: '\e829'; } /* '' */
.icon-bh-windows:before { content: '\e82a'; } /* '' */
.icon-down-dir:before { content: '\e82b'; } /* '' */
.icon-up-dir:before { content: '\e82c'; } /* '' */
.icon-left-dir:before { content: '\e82d'; } /* '' */
.icon-right-dir:before { content: '\e82e'; } /* '' */
.icon-bh-plus:before { content: '\e82f'; } /* '' */
.icon-headphones:before { content: '\e830'; } /* '' */
.icon-music:before { content: '\e831'; } /* '' */
.icon-ok:before { content: '\e832'; } /* '' */
.icon-reply:before { content: '\e833'; } /* '' */
.icon-retweet:before { content: '\e834'; } /* '' */
.icon-star:before { content: '\e835'; } /* '' */
.icon-share:before { content: '\e836'; } /* '' */
.icon-cancel:before { content: '\e837'; } /* '' */
.icon-bh-music:before { content: '\e838'; } /* '' */
.icon-bh-square:before { content: '\e839'; } /* '' */
.icon-th-list:before { content: '\e83a'; } /* '' */
.icon-bh-sync:before { content: '\e83b'; } /* '' */
.icon-bh-menu:before { content: '\e83c'; } /* '' */
.icon-bh-location:before { content: '\e83d'; } /* '' */
.icon-spin1:before { content: '\e83e'; } /* '' */
.icon-bh-delete:before { content: '\e83f'; } /* '' */
.icon-bh-round-minus:before { content: '\e840'; } /* '' */
.icon-bh-round-plus:before { content: '\e841'; } /* '' */
.icon-bh-bold-plus:before { content: '\e842'; } /* '' */
.icon-bh-awaited-batch:before { content: '\e843'; } /* '' */
.icon-bh-clapperboard:before { content: '\e844'; } /* '' */
.icon-bh-comment:before { content: '\e845'; } /* '' */
.icon-bh-favorite:before { content: '\e846'; } /* '' */
.icon-bh-favorite-border:before { content: '\e847'; } /* '' */
.icon-bh-party:before { content: '\e848'; } /* '' */
.icon-bh-photos:before { content: '\e849'; } /* '' */
.icon-bh-progress:before { content: '\e84a'; } /* '' */
.icon-bh-share:before { content: '\e84b'; } /* '' */
.icon-bh-tv:before { content: '\e84c'; } /* '' */
.icon-bh-view:before { content: '\e84d'; } /* '' */
.icon-bh-view-more:before { content: '\e84e'; } /* '' */
.icon-ringtone:before { content: '\e84f'; } /* '' */
.icon-sort:before { content: '\e850'; } /* '' */
.icon-bh-playlist-add:before { content: '\e851'; } /* '' */
.icon-bh-degression:before { content: '\e852'; } /* '' */
.icon-apple:before { content: '\e853'; } /* '' */
.icon-globe:before { content: '\e854'; } /* '' */
.icon-bh-books:before { content: '\e855'; } /* '' */
.icon-bh-contract:before { content: '\e856'; } /* '' */
.icon-bh-expand:before { content: '\e857'; } /* '' */
.icon-bh-health-heart:before { content: '\e858'; } /* '' */
.icon-bh-magazine:before { content: '\e859'; } /* '' */
.icon-bh-articles:before { content: '\e85a'; } /* '' */
.icon-bh-chair:before { content: '\e85b'; } /* '' */
.icon-bh-collection:before { content: '\e85c'; } /* '' */
.icon-bh-down-arrow-small:before { content: '\e85d'; } /* '' */
.icon-bh-female:before { content: '\e85e'; } /* '' */
.icon-bh-male:before { content: '\e85f'; } /* '' */
.icon-bh-predictometer:before { content: '\e860'; } /* '' */
.icon-bh-search-compare:before { content: '\e861'; } /* '' */
.icon-bh-snapshot:before { content: '\e862'; } /* '' */
.icon-bh-up-arrow-samll:before { content: '\e863'; } /* '' */
.icon-bh-video-cam:before { content: '\e864'; } /* '' */
.icon-bh-reel:before { content: '\e865'; } /* '' */
.icon-bh-music-tv:before { content: '\e866'; } /* '' */
.icon-bh-music-bullhorn:before { content: '\e867'; } /* '' */
.icon-bh-music-1:before { content: '\e868'; } /* '' */
.icon-bh-mic:before { content: '\e869'; } /* '' */
.icon-spin3:before { content: '\e86a'; } /* '' */
.icon-bh-save-playlist:before { content: '\e86b'; } /* '' */
.icon-bh-refresh:before { content: '\e86c'; } /* '' */
.icon-record:before { content: '\e86d'; } /* '' */
.icon-bh-list-view:before { content: '\e86e'; } /* '' */
.icon-bh-thumb-up-down:before { content: '\e86f'; } /* '' */
.icon-bh-mobile-setting:before { content: '\e870'; } /* '' */
.icon-bh-mobile-menu:before { content: '\e871'; } /* '' */
.icon-bh-player-music:before { content: '\e872'; } /* '' */
.icon-linkedin:before { content: '\e873'; } /* '' */
.icon-minus:before { content: '\e874'; } /* '' */